body {
    background-color: pink;
    color: white;
    width: fit-content;
    margin: 0 auto;
    text-align: left;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 28px;
}

li {
    font-size: 24px;
    list-style-type: none;
}

a{
    color: blueviolet;
    text-decoration: none;
}

a:hover {
    color: deeppink;
    text-decoration: overline;
}